h2.huge-module__title=name
if items.intro
  each paragraph in items.intro
    p.huge-module__paragraph!=paragraph
ul.huge-list--unstyled.prototypes-group
  each prototype in items.prototypes
    li
      if prototype.link
        a(href=prototype.link)
          img(src='assets/images/#{prototype.thumbnailFile}', width='200', alt='#{prototype.prototypeName}')
          .template-name=prototype.prototypeName
      else
        img(src='assets/images/#{prototype.thumbnailFile}', width='200', alt='#{prototype.prototypeName}')
        .template-name=prototype.prototypeName
